.navbar {
  background-image: url("/images/background.webp");
  width: 100%;
  display: flex;
  position: fixed;
  z-index: 99;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  gap: 20px;
  font-size: 20px;
}

.navbar_list {
  box-sizing: border-box;
  transition: all 0.5s linear;
}

.navbar_list:hover {
  color: gold;
}

.navbar_list:focus {
  outline: solid 1px white;
}
