.musicWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  translate: 0 30px;
  margin-bottom: 45px;
}

.albumInfo {
  width: 360px;
  margin-bottom: 15px;
}

.albumInfo:last-child {
  margin-bottom: 0px;
}

.albumTitle {
  font-size: 18px;
  margin-bottom: 1px;
}

.releaseDate {
  font-size: 12px;
}

.trackList {
  font-size: 16px;
  margin-bottom: 5px;
}

.credits {
  font-size: 14px;
}

.youtube {
  margin-bottom: 5px;
}
